/* font-awasome-cdn----------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* utilities-------------------------------------- */
body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
	/* box-sizing: border-box; */
}

.container {
	width: 1160px;
}
.container1 {
	width: 1050px;
	/* display: flex; */
	justify-content: center;
	align-items: center;
}
/* header-part-start------------------------------------------------------ */
header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(32, 32, 253);
	margin-bottom: 70px;
}
.header-part {
	display: flex;
	flex-direction: column;
}
.header-part-1 {
	display: flex;
	justify-content: space-between;
	margin-top: 21px;
}
.navbar ul {
	margin-left: -36px;
}
.navbar ul li {
	list-style: none;
	display: inline-block;
	margin-right: 36px;
}
.navbar ul li a {
	font-size: 16px;
	text-decoration: none;
	color: #fff;
}
.right img {
	/* width: 388px;
height: 428px; */
	width: 556.01px;
	height: 438px;
	margin-top: 49px;
	margin-bottom: 86px;
	transition: transform 3s ease-in;
}
/* transform add------------------------- */
.right img:hover {
	transform: scale(1.1);
}

.login-icon {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.fa-sign-in-alt {
	margin-right: 8px;
}
/* link and button same color--------------start------------------------------ */
.color-btn {
	text-decoration: none;
	color: #fff;
	padding: 10px 24px;
	background: #e02c6d;
}
.block {
	display: block;
	text-align: center;
}
/* link and button same color -----------------end------------------------------ */

.header-part-2 {
	display: flex;
	justify-content: space-between;
}

.left p {
	color: #fff;
	font-weight: bold;
	font-size: 64px;
	margin-bottom: 0;
	margin-top: 121px;
}
.left a {
	margin-top: 27px;
}
.fa-arrow-right {
	margin-left: 8px;
}

/* players section-------------------------------------------------------------- */
main {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}
.players {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 27px;
	column-gap: 30px;
}
.player {
	height: 474px;
	background: #ffffff;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	padding: 15px;
}
.player img {
	width: 300px;
	height: 256px;
}
.player-info {
	width: 300px;
	height: 154px;
}
.player h3 {
	font-weight: bold;
	font-size: 28px;
	margin: 16px 0px;
}
.player p {
	margin: 10px 0px;
	font-size: 16px;
}

/* playground css-------------------------------------------------------------- */
.about-play {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 69px;
	margin-top: 165px;
}
.play-img img {
	width: 567px;
	height: 427px;
}

/* card section----------------- */
.img-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 30px;
	margin-top: 125px;
}
.img-banner {
	height: 350px;
	width: 300px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: relative;
}
.img-haed {
	width: 100%;

	margin: 0;
	border: 3px soloid red;
	transition: transform 3s ease-in; /*animation add*/
}
.img-haed img {
	width: 300px;
	height: 350px;
}

.img-body {
	display: none;
	width: 230px;
}
.img-banner:hover .img-haed {
	transform: scale(1.2);
}
.img-banner:hover .img-body {
	display: block;
	position: absolute;
	width: 300px;
	height: 350px;
	align-items: center;
}
.img-banner:hover .img-body h3,
p {
	padding: 15px;
}
.img-body:hover{
	transition: 0.4s ease-in;
	background-color: rgba(172, 165, 153, 0.76);
}


article {
	margin-bottom: 25px;
}
.img-banner:hover .img-body a {
	margin-left: 15px;
}
.image-banner-text {
	margin-left: 15px;
}
/* about-section------------------------------------ */
.about-section {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 100px;
}
form p,
input,
textarea {
	padding: 10px;
}

input {
	border: none;
	width: 70%;
	border-bottom: 2px solid gray;
	background-color: white;
}
input:focus {
	outline: none;
}
input[type="button"] {
	border: none;
	width: 20%;
}
textarea {
	border: none;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	margin-left: 10px;
	width: 80%;
}
textarea:focus {
	outline: none;
}
form {
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
}
.about {
	width: 50%;
}
.map iframe {
	width: 100%;
}

/* footer-part */

footer {
	display: flex;
	justify-content: center;
}
.footer {
	width: 483.87px;
	height: 213px;
}
.foot-part {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	margin-top: 158px;
}
.foot {
	width: 483.87px;
	height: 213px;
}
footer img {
	width: 450px;
	height: 110px;
}
.footer-icon {
	margin-top: 20px;
}
.footer-icon i {
	margin-right: 0 14px;
	font-size: 32px;
	/* background: #969BAB; */
}
.filled {
	color: #969bab;
}
.copy {
	margin-top: 20px;
	margin-bottom: 63px;
}

/* media query start --------------- */

@media only screen and (max-width: 688px) {
	body {
		overflow-x: hidden;

		width: 100%;
		align-items: center;
		justify-content: center;
	}

	.container {
		width: 100%;
	}
	header {
		background-color: rgb(32, 32, 253);
	}
	.header-part {
		display: flex;
		flex-direction: column;
		margin: 21px;
	}
	.header-part-1 {
		justify-content: flex-end;
	}
	.header-part-1 .navbar {
		display: block;
	}
	.login-icon a {
		display: flex;
	}

	.header-part-2 {
		flex-direction: column;
	}
	.left {
		/* display: flex;
        flex-direction: column; */
	}

	.left p {
		/* width: 278px;
height: 138px; */
	}
	.left a {
		/* width: 168px;
height: 44px; */
	}

	.right {
		display: flex;
		justify-content: center;
	}
	.right img {
		margin-top: 94px;
		width: 329px;
		height: 259.17px;
		transition: transform 1.5s ease-in;
	}
	.right img:hover {
		transform: scale(1.1);
	}

	.container1 {
		width: 100%;
	}
	.players {
		grid-template-columns: repeat(1, 1fr);
		align-items: center;
		width: 100%;
	}

	.about-play {
		grid-template-columns: repeat(1, 1fr);
		width: 100%;
	}
	.play-img img {
		width: 328px;
		height: 248px;
		align-items: center;
	}
	.play-info {
		width: 329px;
		height: 299px;
		padding: 15px;
	}
	.img-section {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 21px;
	}

	
	footer {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* tablet-----------------------view */
@media only screen and (min-width: 688px) and (max-width: 992px) {
	body {
		overflow-x: hidden;
		align-items: center;
		justify-content: center;
	}
	.container1 {
		width: 100%;
	}
	.container {
		width: 100%;
	}
	header {
		background-color: rgb(32, 32, 253);
	}
	.header-part {
		display: flex;
		flex-direction: column;
		margin: 21px;
	}
	.header-part-1 {
		justify-content: space-between;
	}
	.header-part-1 .navbar {
		display: block;
	}
	.login-icon a {
		display: flex;
	}

	.header-part-2 {
		flex-direction: row;
	}
	.navbar ul {
		margin-left: -36px;
	}
	.right {
		display: flex;
		justify-content: center;
	}
	.right img {
		margin-top: 94px;
		width: 329px;
		height: 259.17px;
		transition: transform 3s ease-in;
	}
	.right img:hover {
		transform: scale(1.1);
	}

	.players {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}

	.about-play {
		grid-template-columns: repeat(2, 1fr);
	}
	.play-img img {
		width: 328px;
		height: 248px;
		align-items: center;
	}

	#copa-america {
		margin-left: 15px;
	}
	.play-info {
		width: 329px;
		height: 299px;
		padding: 15px;
	}
	.img-section {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 21px;
	}
	footer {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
